/* restarting rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #3a3534;
  color: #cfbb99;
}

/* header section */
header {
  text-align: center;
  padding: 50px 0;
  background-size: cover;
  background-image: url(https://as2.ftcdn.net/jpg/02/45/51/65/1000_F_245516593_9MHwcESj98K3kJVpMNin6JqSXJHRef0d.jpg);
  background-repeat: no-repeat;
  background-position: top;
}
header h1 {
  text-transform: capitalize;
  font-family: "playfair display SC", serif;
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 5px 2px 7px black;
}
header p {
  font-family: "Lato", sans-serif;
  margin-bottom: 40px;
  font-size: 1.5rem;
  text-shadow: 5px 2px 7px black;
}
header a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #f0e2c5;
  background-color: #49281a;
  padding: 10px;
  border-radius: 5px;
}

/* nav section */
nav {
  text-align: center;
  padding: 10px;
  background-color: #ffffff26;
  position: sticky;
  top: 0;
}
nav div {
  background-color: #ffffff00;
}
nav a {
  display: inline-block;
  margin-right: 20px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  color: #f0e2c5;
  background-color: #49281a;
  border-radius: 5px;
}

/* our menu section */
#our-menu,
#about-us,
#contact {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
#our-menu h2 {
  font-family: "playfair display SC", serif;
  font-size: 2rem;
  text-align: center;
}

#our-menu h3 {
  font-family: "playfair display SC", serif;
  font-size: 1.5rem;
  margin: 20px 0;
}

/* coffee menu */

.coffee-menu,
.Snacks-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}
.card-container {
  border: 1px solid black;
  width: 250px;
  padding: 5px;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #ffffff26;
}
.card-container:hover {
  box-shadow: 0 0 10px #d8d6d5;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.card-container img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.card-title {
  font: 1.2rem "playfair display SC", serif;
  margin: 10px 0;
}
.card-text {
  font-family: "Lato", sans-serif;
  margin: 10px 0;
  padding: 0 5px;
  line-height: 1.5rem;
}
.card-price {
  font: italic bold 1.2rem "Lato", sans-serif;
}
.order-btn {
  color: #f0e2c5;
  background-color: #49281a;
  font: bold 1.2rem "Lato", sans-serif;
  padding: 7px;
  border: none;
  width: 100%;
  border-radius: 0 0 10px 10px;
  transition: all 0.8s ease-in;
}

.order-btn:hover {
  color: #49281a;
  background-color: #f0e2c5;
  font: bold 1.2rem "Lato", sans-serif;
  padding: 7px;
  border: none;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

/* about us  & contact section*/

#about-us h2,
#contact h2 {
  font-family: "playfair display SC", serif;
  font-size: 2rem;
  margin: 20px 0;
}
#about-us p,
#contact p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: justify;
}

form {
  font: 1.2rem "Lato", sans-serif;
  margin-top: 30px;
  padding: 20px;
}
.form-label {
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  text-align: right;
}
.form-control {
  width: 300px;
  border: none;
  outline: none;
  border-bottom: dotted 1px #f0e2c5;
  font: 1.2rem "Lato", sans-serif;
  background-color: #06060600;
}
.submit-btn {
  padding: 15px;
  background-color: #49281a;
  color: #f0e2c5;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  margin-left: 160px;
  border: none;
  outline: none;
}

/* foooter section */
footer {
  text-align: center;
  font: 1.2rem "Lato", sans-serif;
  margin: 30px 0;
}
footer a {
  display: block;
  padding: 5px;
  width: 100px;
  margin: 0 auto;
  background-color: #49281a;
  color: #f0e2c5;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}

/* responsive adjustments */
@media screen and (max-width: 1024px) {
  .coffee-menu,
  .Snacks-menu {
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 768px) {
  .coffee-menu,
  .Snacks-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  nav {
    display: none;
  }

  #our-menu h3 {
    margin: 20px 0 20px -30px;
  }
  .coffee-menu,
  .Snacks-menu {
    flex-direction: column;
    align-items: center;
  }
  .card-container {
    margin-bottom: 20px;
  }
  .form-label {
    display: block;
    text-align: center;
    width: auto;
    margin-bottom: 20px;
  }
  .form-control {
    display: block;
    margin: 0 auto;
  }
  .submit-btn {
    margin: 5px auto;
    display: block;
    width: 300px;
  }
}
